/* Vertical UI */
.comfy-menu, .side-bar-panel {
  #crysmonitor-monitors-root {
    /*background-color: red;*/
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--comfy-menu-bg);
    border-radius: 6px;
    border: 1px solid var(--border-color);
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 7px;
    padding: 5px 0;
    cursor: crosshair;
    /* Isolate this subtree's repaints from the LiteGraph canvas compositor layer */
    contain: layout paint style;

    /* MONITORS */

    .crysmonitor-monitor {
      margin: 1px 10px;
      height: 12px;
      display: flex;
      align-items: center;

      .crysmonitor-text {
        width: 40px;
        font-size: 10px;
        font-weight: 500;
        text-align: right;
        margin-right: 3px;

        &:hover {
          font-weight: 600;
          color: var(--input-text);
        }
      }

      .crysmonitor-label {
        &:hover {
          font-weight: 700;
          color: var(--input-text);
        }
      }
    }

    .crysmonitor-content {
      flex-grow: 1;
      position: relative;
      overflow: hidden;
      background-color: var(--content-hover-bg);
    }

    .crysmonitor-slider {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left center;
      will-change: transform;
    }

    .crysmonitor-label {
      position: relative;
      color: var(--input-text);
      font-size: 10px;
    }
  }

}

/* side-bar-panel */
.side-bar-panel {
  #crysmonitor-monitors-root {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}

.comfyui-queue-button {
  /*width: unset !important;*/
}

/* Horizontal UI */
#crysmonitor-monitors-root {
  /*background-color: red;*/
  /*display: none;*/
  flex-direction: row;
  /* Isolate this subtree's repaints from the LiteGraph canvas compositor layer */
  contain: layout paint style;
  /*flex-grow: 5;*/
  justify-content: flex-end;
  /*flex: auto;*/
  flex-shrink: 1;
  /*min-width: max-content;*/
  /*height: 100%;*/
  /*  max-width: 40vw;*/
  /*  min-width: 10vw;*/
  /*gap: 5px;*/
  /*margin: 0 auto;*/
  /*align-items: center;*/
  /*align-self: center;*/
  /*width: min-content;*/
  /*width: 100%;*/
  cursor: crosshair;
  /*margin: 4px 0;*/
  display: flex; /* by progress bar base */
  flex-wrap: wrap;
  /*flex-direction: row;*/
  /*justify-content: flex-end;*/
  /*align-items: center;*/
  gap: 5px;
  align-self: center;

  .crysmonitor-monitor {
    background-color: var(--comfy-input-bg);
    position: relative;
    align-items: center;
    flex-direction: row;
    /*width: 60px;*/
    /*height: 100%;*/

    .crysmonitor-text {
      font-size: 11px;
      text-align: right;
      margin-left: 3px;
      position: absolute;
      font-weight: 500;
      bottom: 2px;
      z-index: 10;

      /*&:hover {*/
      /*  font-weight: 600;*/
      /*  color: var(--input-text);*/
      /*}*/
    }

    /*.crysmonitor-label {*/
    /*  &:hover {*/
    /*    font-weight: 800;*/
    /*    color: var(--input-text);*/
    /*  }*/
    /*}*/
  }

  .crysmonitor-content {
    position: relative;
    overflow: hidden;
  }

  .crysmonitor-slider {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left center;
    will-change: transform;
  }

  .crysmonitor-label {
    position: relative;
    width: 100%;
    color: var(--input-text);
    font-weight: 500;
    font-size: 11px;
    right: 2px;
    top: 2px;
    text-align: right;
  }
}
